body {
    font-family: sans-serif;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(59vh);
}

.tabs label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    cursor: pointer;
    transition: background-color ease 0.3s;
    border-top: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    padding-left: 10px;
    padding-right: 10px;
}

.tabs .tab {
    flex-grow: 1;
    width: 100%;
    display: none;
    background-color: #fff;
}

.tabs [type=radio] {
    display: none;
}

.tabs [type=radio] + label {
    height: 40px;
}

.tabs [type=radio]:checked + label {
    background-color: #fff;
    color: #0067b8;
    border-top: 4px solid #0067b8;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

// Magic: <https://chenhuijing.com/blog/flexbox-and-absolute-positioning/>
.tabs [type=radio]:checked + label + .tab {
    display: block;
    position: absolute;
    align-self: flex-end;
    height: calc(59vh - 2.5rem);
    flex-grow: 1;
    justify-self: center;
}

@media (min-width: 768px) {
    .tabs [type=radio]:checked + label {
        border-bottom: none;
    }

    .tabs [type=radio]:checked + label + .tab {
        width: 40vw;
    }
}

.diagram {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
